<!DOCTYPE html>
<html>
	<head>
		<title>Dominó das Frações</title>
		<meta charset="utf-8"></meta>
	</head>
	<body>		
		<header>oi</header>
		<div id="canvas" role="main">
			<%- body %>			
		</div>
		<footer></footer>
	</body>
</html>